<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link rel="stylesheet" href="../static/css/main.css">이렇게도 됨.
    -->
 

<body>
<textarea  rows="100" cols="100">
	#처리 가능 보고서 목록 및 조건

1.타법인주식및출자증권처분결정
 #회사와의 관계가 자회사, 계열회사, 관계회사, 관계기업일 경우

2.현금ㆍ현물배당결정
 #보통주에 대해 배당할 경우
 #향후 종류주식 대상도 포함할 예정

3.주식배당결정
 #보통주에 대해 배당할 경우
 #향후 종류주식 대상도 포함할 예정

4.주요사항보고서(유상증자결정)
 #보통주에 대해 배당할 경우
 #향후 종류주식 대상도 포함할 예정 

5.단일판매ㆍ공급계약체결
1)공사수주인 경우
전부 작성

2)공사수주 아닌 경우
-코스피 200, 코스닥 150에 포함될 경우 무조건 작성.
-최근 1주간 krx 변동성 완화대성에 지정된 경우 무조건 작성
-문서 내 '코로나, covid, 폐질환, 삼성, 현대, 이재명, samsung, 엘지, hyundai, 문재인' 키워드 중 하나라도 있는 경우 무조건 작성
-계약금이 매출액 대비 비율이 10%를 넘고 계약금이 50억원보다 크거나 
매출액 대비 비율이 100%를 넘는 사업


6.최대주주등소유주식변동신고서
-코스피 200, 코스닥 150에 포함될 경우 무조건 작성.
-최근 1주간 krx 변동성 완화대성에 지정된 경우 무조건 작성
-지분 변동이 1%p 이상인 경우.

7.임원ㆍ주요주주특정증권등소유상황보고서
보고자가 국민연금인 경우만.
[국민연금] 컷을 붙임

8.최대주주변경
전부 작성.
단 국민연금이 관련될 경우 [국민연금] 컷을 붙임.


9.연결재무제표기준영업(잠정)실적(공정공시)
전부 작성

10.영업(잠정)실적(공정공시)
전부 작성

11. 조회공시요구에 대한 답변
 복잡한 문장을 포함한 경우 작성되지 않을 수 있음.
</textarea>
</body>

</html>